<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/style.css}">
</head>

<body>
	<h1 th:text="${title}"></h1>
	<table>
		<tr>
			<th>id</th>
			<th>名前</th>
			<th>コメント</th>
			<th></th>
			<th></th>
		</tr>
		<tr th:each="res : ${dbList}">
			<td th:text="${res.id}">id</td>
			<td th:text="${res.name}">名前</td>
			<td th:text="${res.comment}">コメント</td>
			<td>
				<form th:action="@{/edit/{id}(id=${res.id})}">
					<input type="submit" value="編集" />
				</form>
			</td>
			<td>
				<form th:action="@{/del/{id}(id=${res.id})}">
					<input type="submit" value="削除" />
				</form>
			</td>
		</tr>
	</table>
</body>

</html>